.cart-page {
  display: flex;
  padding: 30px;
  gap: 20px;
  background: #f1f3f6;
}

.cart-left {
  flex: 3;
}

.cart-item {
  display: flex;
  background: #fff;
  padding: 16px;
  margin-bottom: 10px;
}

.cart-item img {
  width: 120px;
  object-fit: contain;
}

.cart-info {
  margin-left: 20px;
}

.cart-right {
  flex: 1;
  background: #fff;
  padding: 20px;
}

